.App {
  margin: 0%;
  justify-content: center;
  align-items: center;
  background-image: url("./sky.jpg");
  background-size: cover;
  background-position: center;
}
.container {
  margin: 50px auto;
  width: 500px;
  box-sizing: border-box;
  min-width: 576px;
}

.footer {
  position: relative;
  left: 65px;
  font-size: smaller;
  color: black;
  transition: all 150ms ease;
  text-align: center;
}
