.App {
  display: flex;
  margin: 0%;
  padding: 0%;
  justify-content: center;
  align-items: center;
  background-image: url("./sky.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}
.container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  min-width: 576px;
  height: 100vh;
  padding-bottom: 50px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: smaller;
  color: black;
  transition: all 150ms ease;
  text-align: center;
}
